body{
    background-image: url(./img/Documento\ sin\ título\ \(1\)_page-0001.jpg);
   background-repeat: no repeat;
}

table{
    border: 1px solid;
    border-collapse: collapse;
    border-color: blue;

}
th{
    border: 1px solid;
    border-color:aqua;
    padding: 5px;
}

th.column-header{
    color: blue;
}

#date-input{
    font-weight: bold;
}
img {
	width: 200px;
	height: 200px;
}