

table{
    border: 1px solid;
    border-collapse: collapse;
    border-color: blue;

}
th{
    border: 1px solid;
    border-color:aqua;
    padding: 5px;
}

th.column-header{
    border: aqua;
    
}

#date-input{
    font-weight: bold;
}
img {
	width: 200px;
	height: 200px;
}